---
import type { GetStaticPaths } from "astro";
import MainLayout from "../layouts/MainLayout.astro";
import { indice } from "../data/page-index";
import type { CursoInfo } from "@interfaces/courseInfo.interface";
import HeaderInfo from "../components/course-info/HeaderInfo.astro";
import Objetivo from "../components/course-info/Objetivo.astro";
import Requisitos from "../components/course-info/Requisitos.astro";
import Modulos from "../components/course-info/Modulos.astro";
import Modal from "../components/course-info/Modal.astro";

interface Props {
    props: CursoInfo;
}

export const getStaticPaths = (async () => {
    return indice.map((el) => {
        return {
            params: { id: el.slug },
            props: {props :el.props}
        };
    });
}) satisfies GetStaticPaths;

const { props }: Props = Astro.props;
---

<MainLayout title={props.title} description={props.objetivo}>
    <Modal/>
    <div class="w-screen relative">
        <header class="w-full">
            <div class="justify-center items-center header">
                <HeaderInfo title={props.title} />
            </div>
        </header>
        <section class="p-10 w-full flex justify-center items-center">
            <Objetivo subtitle="Objetivo general">
                {props.objetivo}
            </Objetivo>
        </section>
        <section
            class="w-full flex justify-center bg-gradient-to-br from-gray-900 to-gray-700"
        >
            <Requisitos requisitos="Requisitos de acceso">
                {props.requisitosAlumnos}
            </Requisitos>
        </section>
        <section class="p-5 flex relative justify-center items-center w-full">
            <div
                class="w-1/2 h-1/2 top-0 right-0 absolute bg-gray-600 rounded-full blur-3xl opacity-30 -z-10"
            >
            </div>
            <div
                class="w-1/2 h-1/2 bottom-0 left-0 absolute bg-gray-500 rounded-full blur-3xl opacity-30 -z-10"
            >
            </div>
            <div class="flex flex-col max-w-7xl">
                <h3 class="p-10 font-bold text-black text-center text-3xl">
                    Módulos
                </h3>
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5"
                >
                    {props.modulos.map((el) => <Modulos props={el} />)}
                </div>
            </div>
        </section>
        <div class="fixed bottom-0 right-0 p-5">
            <button
                class="text-white cursor-pointer p-5 bg-gradient-to-r from-slate-500 to-slate-800 backdrop:blur-3xl rounded-full font-bold"
                id="modal-form"
                >
                Inscribirme ahora
            </button>
        </div>
    </div>
</MainLayout>


<script>
    import {isOpen} from '../stores/modalStore'


    const openModal = () =>{
        isOpen.set(true)
    }

    document.getElementById('modal-form')?.addEventListener('click', openModal);
</script>